.app__movies {
  height: 90vh;
  padding: 2rem;
  .wrapper {
    background-color: var(--hilightBG);
    border-radius: 15px;
    .movie-app{
        .row {
      overflow-x: auto;
      flex-wrap: nowrap;
    }
    }
    
  }
}
